# Dependencies
node_modules/

# Build output
dist/
build/

# IDE files
.vscode/*
!.vscode/extensions.json
!.vscode/settings.json
!.vscode/launch.json
.idea/

# Environment files
.env
.env.local

# Prisma
/prisma/*.db
/prisma/*.db-journal

# Debug logs
npm-debug.log*
yarn-debug.log*

# OS files
.DS_Store
